.heading{
font-size: 25px;
margin: 0;
width: 100%;
box-shadow: 5px 5px 5px grey;
text-shadow: 5px 5px 5px grey;
}
.note{
    font-size: 13px;
    color: black;
}
.footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: green;
    color: black;
    font-size:20px ;
    line-height: 2;
    
}
canvas {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;

}